body
    link(rel='stylesheet', href='/site/coral.ru/css/main.less')

    section.hero.underbrow.kv
        article
            .contenu
                h2.h1 Элитный отдых для тех, кто ценит комфорт
                p Приватные виллы, где все продумано до мелочей

    section.hero.country-select
        article
            .contenu
                nav
                    each country, key in data.countries
                        .item(data-content-control=key)
                            .inhalt(style!=({ 'background-image': `url(${ country.selector.poster })` }))
                                .vimeo-video-box
                                    .vimeo-player(data-vimeo-vid=country.selector.vid)
                                .blur: span  
                                .label= country.name

    section.hero.country-intro
        article
            .contenu
                each country, key in data.countries
                    .intro-text(data-content-marker=key)!= country.introMarkup

    section.hero.region-select
        article
            .contenu
                div
                    each country, country_key in data.countries
                        if Object.keys(country.regions).length > 1
                            div.country-region-select(data-content-marker=country_key)
                                each region, region_key in country.regions
                                    button(class=(region.default ? 'selected' : ''), data-content-control=`${country_key}.${region_key}`)= region.name

    section.hero.hotel-select
        article
            .contenu
                .videos-descriptions-comp
                    .inhalt
                        .videos-comp
                            each country, country_key in data.countries
                                each region, region_key in country.regions
                                    - content_marker = Object.keys(country.regions).length > 1 ? `${ country_key }.${ region_key }` : country_key
                                    each hotel, hotel_key in region.hotels
                                        .vimeo-video-box(data-content-marker=content_marker)
                                            picture
                                                source(media='(max-width: 768px)', srcset=hotel.video.poster.mobile)
                                                img(src=hotel.video.poster.desktop)
                                            .vimeo-player(data-vimeo-vid=hotel.video.vid, class=hotel.video.anamorphic ? 'anamorphic':'')
                        .ymap-comp
                            div#ymap
                            .scrollzoom-hint.
                                    Нажмите и удеживайте клавишу <span class="key">Alt</span>,
                                    <br>чтобы менять масштаб колесом прокрутки

                        .descriptions-comp
                            .progress-indicator: .indicator
                            .descriptions
                                each country, country_key in data.countries
                                    each region, region_key in country.regions
                                        - content_marker = Object.keys(country.regions).length > 1 ? `${ country_key }.${ region_key }` : country_key
                                        each hotel, hotel_key in region.hotels
                                            .hotel-card(data-content-marker=content_marker, data-hotel-key=hotel_key)
                                                .location= hotel.location
                                                    button(data-action='ymap-toggle') &zwj;
                                                .stars= hotel.stars
                                                .name= hotel.name
                                                .msg= hotel.msg
                                                if hotel.price
                                                    .price-info.rur от #{ hotel.price }
                                                .actions
                                                    if hotel.url
                                                        a.about-hotel(href=hotel.url) Подробнее об отеле
                                                    a.learn-more(href='#learn-more') Узнать больше
                                                    if hotel.bookOnline
                                                        a.book-online(href=hotel.bookOnline, target='_blank') Забронировать онлайн
                                                div  

                .logo-nav-flicker
                    each country, country_key in data.countries
                        each region, region_key in country.regions
                            - content_marker = Object.keys(country.regions).length > 1 ? `${ country_key }.${ region_key }` : country_key
                            each hotel, hotel_key in region.hotels
                                .logo-slide(data-content-marker=content_marker, data-hotel-key=hotel_key)
                                    .logo-visual(style!=({ 'background-image': `url(${ hotel.logo })` }))
                                    .hilite-bar

    section.hero.book-in-premium-offices
        article
            .contenu
                h2 Бронируйте туры в офисах премиального обслуживания сети Coral Elite Service
                p 55 элитных офисов в Москве и регионах &mdash; выбирайте ближайший к вашему дому.
                .actions
                    a.hollow.with-right-arrow(href='https://www.coral.ru/where-to-buy/?coral_elite_service=1&elite', target='_blank') Все офисы
                ul.office-benefits
                    li
                        .icon
                        .label Опытные специалисты по индивидуальным турам
                    li
                        .icon
                        .label  Комфортабельная зона для особых клиентов
                    li
                        .icon
                        .label Внимательное сопровождение для особенного отдыха
                    li
                        .icon
                        .label Удобные кресла, детская зона, напитки
                .apply-contact
                    .visual
                    .info
                        p.strong Бронируйте свой отдых в стиле Elite онлайн на сайте или по телефону.
                        .icon
                        p.strong Поддержка &mdash; круглосуточно и без выходных.
                        .phone-number +7 (49&zwj;5) 232 12 02
                        .actions
                            a(href='#app-form') Оставить заявку
                .additional-services
                    h2 Дополнительные услуги и сервисы для путешественников
                    p Ваш менеджер поможет оформить дополнительные услуги для более комфортного отдыха.
                    ul.services
                        li
                            .icon
                            .label Индивидуальные экскурсии
                        li
                            .icon
                            .label Индивидуальный трансфер
                        li
                            .icon
                            .label Доступен перелет бизнес-классом
                        li
                            .icon
                            .label Услуга CIP TERMINAL по прилете
                        li
                            .icon
                            .label Услуга CIP TERMINAL при вылете
                        li
                            .icon
                            .label Услуга FAST TRACK при вылете + CIP LOUNGE

    section.hero.fin-c2a
        article
            .contenu
                //h2 Забронируйте отдых в стиле Elite
                .contact-block
                    .info
                        h3 Заполните заявку и наш менеджер поможет вам с подбором тура!
                        .actions
                            a.ramp(href='#app-form', data-ym-reachgoal='elite-ost-z') Оставить заявку

    #learn-more
        a(href='#_') &zwj;
        .popin-container
            a.dismiss(href='#_') &zwj;
            .body
                h4 Чтобы выбрать виллу и&nbsp;узнать её&nbsp;стоимость, забронировать или уточнить детали:
                .token.callcenter
                h4 Позвоните в call-центр
                a.phome-number(href='tel:+74952321202') +7 (495) 232 12 02
                .token.eliteservice-marker
                .eliteservice-banner ELITE SERVICE
                h4 Приезжайте в ближайший офис
                p Офисы в&nbsp;Москве и&nbsp;регионах <a href="https://www.coral.ru/where-to-buy/?coral_elite_service=1&elite" target="_blank">Coral Elite Service</a>
            .foot
                h4 Напишите в чат
                .contact-us
                    .lefty
                        h5 Ответим через 1 минуту
                        p с 9:00 до 21:00
                    .launchpad
                        a.whatsapp(href='https://wa.me/74952321206?text=%D0%9F%D1%80%D0%B8%D0%B2%D0%B5%D1%82!', target='_blank')
                        a.vk(href='https://vk.me/coraltravel', target='_blank')
                        a.telegram(href='https://t.me/coraltravel_telegrambot', target='_blank')
                        a.msg(href='https://bcrw.apple.com/urn:biz:d3809fd0-e2fe-4027-b27e-ae34bf28e38c', target='_blank')

    #app-form
        a(href='#_') &zwj;
        .popin-container
            iframe#smIframe-zie4semg3q6u509k(src="https://app2.salesmanago.pl/ms/sid/end4k5eqd4o8yidi/zie4semg3q6u509k.htm")
            a.dismiss(href='#_') &times;

    script
        | var HOTELS_DATA = [
        each country, country_key in data.countries
            each region, region_key in country.regions
                - content_marker = Object.keys(country.regions).length > 1 ? `${ country_key }.${ region_key }` : country_key
                each hotel, hotel_key in region.hotels
                    | { #{ hotel.default ? 'default:true, ' : '' } key: '#{ hotel_key }', content_marker: '#{ content_marker }', name: '#{ hotel.name }', price: '#{ hotel.price }', latlng: #{ JSON.stringify(hotel.latlng) } },
        | ]

    script(type='module', src='/site/coral.ru/js/main.coffee')